.form label{
    width: 80px;
}
.form div{
    padding: 5px 0;
    margin-left: 200px;
}
h2{
    text-align: center;
    padding: 20px;
}

.form input{
    width: 500px;
    border-radius: 10px;
    border: 2px ridge;
}
.btn {
    text-align: center;
}
.back{
    border-radius: 10px;
    border: 2px ridge;
    margin-left: 15%;
}