.form label {
    width: 80px;
    
}
.form{
    text-align: center;
}
.form div {
    padding: 5px 0;
   
}

h2 {
    text-align: center;
    padding: 20px;
}

.form input {
    width: 450px;
    border-radius: 10px;
    border: 2px ridge;
    margin: 15px 0;
}



.back {
    border-radius: 10px;
    border: 2px ridge;
    margin-left: 15%;
}